/*
globals
 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.full-h {
    height: 100%;
}

.full-w {
    width: 100%;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

body {

    font-family: "Nunito", sans-serif;
    background-color: #1f1f1f;
    font-weight: 300;
    color: white;

}

strong {
    font-weight: 600;
}

a {
    text-decoration: none;
    font-weight: 500;
}

footer {
    color: #888888;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.shadow-background {
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    position: fixed;
    z-index: -1;
}

.main-container {
    max-width: 60em;
    margin: 0 auto;
    text-align: center;
    text-shadow: rgb(0, 0, 0) 0 0 0.3rem;
}

.site-title {
    margin: 1rem 0;
    font-size: 1.5rem;
    text-shadow: rgba(255, 193, 7, 0.7) 0 0 0.5rem;
}

.hr {
    background-color: rgba(75, 75, 75, 0.5);
    height: 0.4rem;
    border-radius: 0.2rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 0.7rem rgba(0, 0, 0, .8);
}

.underline-border {
    border-bottom: 0.3rem solid rgba(75, 75, 75, 0.5);
}

.align-left {
    text-align: left;
}

/*
navigation
 */

.top-nav {
    display: flex;
    align-content: center;
    margin: 0 1rem 2rem 1rem;
    font-size: 1.2rem;
    flex-wrap: wrap;
    gap: 0.5rem;

}

.top-nav-link {
    flex: 1 0 1rem;
    box-shadow: 0 0 0.7rem rgba(0, 0, 0, .8);
    border: rgba(255, 193, 7, 0.2) 1px solid;
}

.top-nav-link:link, .top-nav-link:visited {
    color: #9f9f9f;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0.3rem;
    border-radius: 0.3rem;
}

.top-nav-link:hover, .top-nav-link:focus, .top-nav-link:active, .top-nav-link.active {
    color: #ffc107;
    box-shadow: 0 0 .6rem #ffc107;
}

.top-nav-link:active, .top-nav-link.active {
    border-bottom: 4px solid #ffc107;
}

.cover-container {
    margin: auto;
}

.cover-highlight.content-container {
    max-width: 40em;
    padding: 3rem;
}

.content-title {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    text-shadow: rgba(255, 193, 7, 0.7) 0 0 0.5rem;
}

.cover-text {
    font-size: 1.4rem;
    margin-bottom: 2.5rem;
    color: #9d9d9d;
}

.button-lit-up {
font-size: 1.3rem;
    color: white;
    background-color: #dc3545;
    border: 2px solid #ffc107;
    border-radius: 1rem;
    padding: 1rem;
    margin: 0 auto;
    box-shadow: 0 0 .6rem #ffc107;
}

.button-lit-up:hover {
    color: black;
    background-color: #ffc107;
    text-shadow: none;
}

.content-container {
    display: flex;
    flex-direction: column;
    max-width: 60em;
    padding: 1.5rem;
    margin: 0 1rem 3rem 1rem;
    background-color: rgba(75, 75, 75, 0.5);
    border-radius: 3rem;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.5);
}

.content-text {
    font-size: 1.3rem;
    color: #d3d3d3;
    margin-bottom: 1rem;
}


.content-sub-container {
    display: flex;
    font-size: 1.2rem;
    padding-right: 3rem;
}

.sub-item-number {
    max-width: 10rem;
    padding: 1rem;
}

.sub-item-content {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    text-align: left;
    width: 100%;
}

.sub-item-header {
    padding-bottom: 0.5rem;
    border-bottom: 0.3rem solid rgba(75, 75, 75, 0.5);
    margin-bottom: 0.5rem;

}

.sub-item-body {
    text-align: left;
    font-weight: 200;
}

@media(max-width: 500px) {
    .content-sub-container {
        padding-right: 1rem;
    }
}
/*
about-grid
 */

.btn-grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 0;
    margin: 0 1rem;
}

.btn-grid {
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

@media (max-width: 1000px) {
    .btn-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 650px) {
    .btn-grid {
        grid-template-columns: 1fr;
    }
}

.btn-grid-link {
    font-size: 1.2rem;
    color: #cccccc;
    background-color: rgba(220, 53, 69, 0.7);
    border: 3px solid #ffc107;
    border-radius: 1rem;
    padding: 0.8rem;
    margin: 0 auto;
    box-shadow: 0 0 .6rem rgba(255, 193, 7, 0.8);
    text-shadow: black 0 0 0.2rem;
}

.btn-grid-link:hover {
    color: #3a3a3a;
    background-color: rgba(255, 193, 7, 0.7);
    text-shadow: none;
}

.btn-title-lg, .btn-title-lg:hover {
    color: #ffffff;
    text-shadow: rgb(0, 0, 0) 0 0 0.5rem;
}

.btn-title-container-lg{
    padding-bottom: .5rem;
    border-bottom: 3px solid #ffc107;
    margin-bottom: 0.5rem;
}

.btn-icons-lg {
    color: #fff;
}

/*
ranks page
 */

.rank-item-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}

.rank-item-header {
    display: flex;
    border-bottom: 0.3rem solid rgba(75, 75, 75, 0.5) ;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    padding: 1rem;
    gap: 0.8rem;
}

.rank-item-title {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-shadow: rgba(255, 193, 7, 0.7) 0 0 0.6rem;
    font-weight: 600;
}

.rank-item-icon {
}

.rank-icon {
    width: 1.5rem;
}

.rank-info-container {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
}

.rank-info-section {
    flex: 0 0 47%;
    background-color: rgba(75, 75, 75, 0.2);
    padding: 0.5rem;
    border-radius: 0.6em;
}

.rank-info-section-title {
    font-size: 1.2rem;
    background-color: rgba(75, 75, 75, 0.3);
    margin-bottom: 0.5rem;
    padding: 0.5rem 0;
    border-radius: 0.6rem;
}

@media (max-width: 580px) {
    .rank-info-container {
        flex-direction: column;
        gap: 2rem;
        padding-bottom: 3rem;
    }
}
@media (max-width: 310px) {
    .rank-item-header {
        flex-direction: column;
    }
}